<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       <bean id="imitador" class="core.personas.Juggler" > <!-- Esto es como crear un objeto de tipo Juggler llamado imitador -->
              <constructor-arg value="15"></constructor-arg>
       </bean>
       <bean id="Chopen" class="core.personas.Musico">
              <property name="cancion" value="Cancion del claro de la Luna" ></property>

       </bean>
       <bean id="CancionDelPirata" class="core.poemas.CancionDelPirata"/>

       <bean id="Stage" class="core.objetos.Stage" factory-method="getInstance"/>


</beans>